Repository pogosoftware/boundary-hcp-cloud, changes with the labels that .github/labeler.yml gives for each.
All labels: L: terraform, L: docs

.github/labeler.yml:

"L: terraform":
- changed-files:
  - any-glob-to-any-file: terraform/**

"L: docs":
- changed-files:
  - any-glob-to-any-file: '**/*.md'

Added organization data
  terraform/tfc-agent/datas.tf
Labels: L: terraform

Added tfe token
  deployments.tfdeploy.hcl
  providers.tfstack.hcl
  variables.tfstack.hcl
Labels: none

Mark tfe token as sensitive
  variables.tfstack.hcl
Labels: none

Update iam policy
  terraform/bootstrap/stacks/datas.tf
Labels: L: terraform

Revert hcp-cloud and vault changes
  components.tfstack.hcl
  providers.tfstack.hcl
  terraform/hcp-cloud/variables.tf
  terraform/vault/datas.tf
  terraform/vault/main.tf
Labels: L: terraform

Adjust boundary to stacks
  terraform/boundary/.terraform.lock.hcl
  terraform/boundary/README.md
  terraform/boundary/datas.tf
  terraform/boundary/locals.tf
  terraform/boundary/main.tf
  terraform/boundary/outputs.tf
  terraform/boundary/providers.tf
  terraform/boundary/variables.tf
Labels: L: terraform, L: docs

Cleanup bootstrap component
  .pre-commit-config.yaml
  terraform/bootstrap/workspaces/.terraform.lock.hcl
  terraform/bootstrap/workspaces/README.md
  terraform/bootstrap/workspaces/datas.tf
  terraform/bootstrap/workspaces/locals.tf
  terraform/bootstrap/workspaces/main.tf
  terraform/bootstrap/workspaces/providers.tf
  terraform/bootstrap/workspaces/terraform.tf
  terraform/bootstrap/workspaces/variables.tf
Labels: L: terraform, L: docs

Removed attaching variable sets
  terraform/bootstrap/workspaces/datas.tf
  terraform/bootstrap/workspaces/locals.tf
  terraform/bootstrap/workspaces/main.tf
Labels: L: terraform

Update terraform version
  terraform/bootstrap/workspaces/main.tf
  terraform/bootstrap/workspaces/variables.tf
Labels: L: terraform

Fixed terraform version
  terraform/bootstrap/workspaces/variables.tf
Labels: L: terraform

Refactoring network component
  terraform/network/.terraform.lock.hcl
  terraform/network/main.tf
  terraform/network/providers.tf
  terraform/network/terraform.tf
  terraform/network/variables.tf
Labels: L: terraform

Update vcs branch
  terraform/bootstrap/workspaces/variables.tf
Labels: L: terraform

Updated tfc-agent component
  terraform/tfc-agent/.terraform.lock.hcl
  terraform/tfc-agent/datas.tf
  terraform/tfc-agent/main.tf
  terraform/tfc-agent/providers.tf
  terraform/tfc-agent/terraform.tf
  terraform/tfc-agent/variables.tf
Labels: L: terraform

Refactoring hcp-cloud component
  terraform/hcp-cloud/.terraform.lock.hcl
  terraform/hcp-cloud/datas.tf
  terraform/hcp-cloud/locals.tf
  terraform/hcp-cloud/main.tf
  terraform/hcp-cloud/providers.tf
  terraform/hcp-cloud/terraform.tf
  terraform/hcp-cloud/variables.tf
Labels: L: terraform

Updated vault component
  terraform/vault/.terraform.lock.hcl
  terraform/vault/providers.tf
  terraform/vault/terraform.tf
  terraform/vault/variables.tf
Labels: L: terraform

Updated boundary component
  terraform/boundary/.terraform.lock.hcl
  terraform/boundary/datas.tf
  terraform/boundary/main.tf
  terraform/boundary/providers.tf
  terraform/boundary/terraform.tf
  terraform/boundary/variables.tf
Labels: L: terraform

Updated vault policy
  terraform/hcp-cloud/templates/vault-policy.hcl
Labels: L: terraform

Updated tags and aws policy
  terraform/bootstrap/workspaces/datas.tf
  terraform/bootstrap/workspaces/main.tf
Labels: L: terraform

Updated GH versions
  .github/workflows/documentation.yml
  .github/workflows/pre-commit.yml
Labels: none

fixed gh action
  .github/workflows/pre-commit.yml
Labels: none

Fixed terraform version for vpn module
  .github/workflows/pre-commit.yml
  terraform/vpn/terraform.tf
Labels: L: terraform

removed required block from vpn
  terraform/vpn/terraform.tf
Labels: L: terraform

Fixed required_versions
  .github/workflows/pre-commit.yml
  terraform/bootstrap/workspaces/versions.tf
Labels: L: terraform

Updated hcp-cloud lock file
  terraform/hcp-cloud/.terraform.lock.hcl
Labels: L: terraform

Removed vpn module from dependabot
  .github/dependabot.yml
Labels: none

chenage working branch to develop
  terraform/bootstrap/workspaces/variables.tf
Labels: L: terraform

Added database security group
  terraform/network/variables.tf
Labels: L: terraform

Added database workspace and component
  terraform/bootstrap/workspaces/datas.tf
  terraform/bootstrap/workspaces/locals.tf
  terraform/bootstrap/workspaces/main.tf
  terraform/bootstrap/workspaces/outputs.tf
  terraform/bootstrap/workspaces/variables.tf
  terraform/database/.terraform.lock.hcl
  terraform/database/datas.tf
  terraform/database/locals.tf
  terraform/database/main.tf
  terraform/database/variables.tf
  terraform/database/versions.tf
Labels: L: terraform

Added missing reources block
  terraform/bootstrap/workspaces/datas.tf
Labels: L: terraform

Shared network state with database component
  terraform/bootstrap/workspaces/main.tf
Labels: L: terraform

Added family property
  terraform/database/main.tf
  terraform/database/variables.tf
Labels: L: terraform

Removed numbers from rds username
  terraform/database/main.tf
Labels: L: terraform

Added db_subnet_group_name parameter
  terraform/database/main.tf
Labels: L: terraform

Added db subnet group
  terraform/network/datas.tf
  terraform/network/locals.tf
  terraform/network/main.tf
  terraform/network/outputs.tf
Labels: L: terraform

Reduced number of subnets to 1
  terraform/network/locals.tf
Labels: L: terraform

Increased az to 2
  terraform/network/locals.tf
Labels: L: terraform

Updated db subnet group name
  terraform/database/locals.tf
  terraform/database/main.tf
Labels: L: terraform

Use private runner for database
  terraform/tfc-agent/locals.tf
Labels: L: terraform

Create readonly role
  terraform/database/main.tf
  terraform/database/providers.tf
  terraform/database/variables.tf
  terraform/database/versions.tf
Labels: L: terraform

Fixed db password
  terraform/database/main.tf
Labels: L: terraform
