Repository pogosoftware/boundary-hcp-cloud, changes with the labels that .github/labeler.yml gives for each.
All labels: L: terraform, L: docs

.github/labeler.yml:

"L: terraform":
- changed-files:
  - any-glob-to-any-file: terraform/**

"L: docs":
- changed-files:
  - any-glob-to-any-file: '**/*.md'

Added bootstrap code for stacks
  terraform/bootstrap/stacks/.terraform.lock.hcl
  terraform/bootstrap/stacks/datas.tf
  terraform/bootstrap/stacks/locals.tf
  terraform/bootstrap/stacks/main.tf
  terraform/bootstrap/stacks/outputs.tf
  terraform/bootstrap/stacks/providers.tf
  terraform/bootstrap/stacks/variables.tf
  terraform/bootstrap/stacks/versions.tf
Labels: L: terraform

Removed project property
  terraform/bootstrap/stacks/datas.tf
Labels: L: terraform

Refactoring names
  terraform/bootstrap/stacks/datas.tf
  terraform/bootstrap/stacks/locals.tf
  terraform/bootstrap/stacks/main.tf
  terraform/bootstrap/stacks/variables.tf
Labels: L: terraform

Fixed project name
  terraform/bootstrap/stacks/locals.tf
Labels: L: terraform

Get OpenID provider arn from AWS
  terraform/bootstrap/stacks/datas.tf
  terraform/bootstrap/stacks/main.tf
Labels: L: terraform

Saved aws role arn and hcp workload idenity in variable sets
  terraform/bootstrap/stacks/.terraform.lock.hcl
  terraform/bootstrap/stacks/datas.tf
  terraform/bootstrap/stacks/main.tf
  terraform/bootstrap/stacks/outputs.tf
  terraform/bootstrap/stacks/versions.tf
Labels: L: terraform

Added more variables to variable sets
  terraform/bootstrap/stacks/datas.tf
  terraform/bootstrap/stacks/locals.tf
  terraform/bootstrap/stacks/main.tf
  terraform/bootstrap/stacks/providers.tf
  terraform/bootstrap/stacks/variables.tf
Labels: L: terraform

Adjust network component to stacks
  terraform/network/.terraform.lock.hcl
  terraform/network/README.md
  terraform/network/variables.tf
Labels: L: terraform, L: docs

Adjust hcp-cloud component to stacks
  terraform/hcp-cloud/.terraform.lock.hcl
  terraform/hcp-cloud/README.md
  terraform/hcp-cloud/datas.tf
  terraform/hcp-cloud/locals.tf
  terraform/hcp-cloud/main.tf
  terraform/hcp-cloud/outputs.tf
  terraform/hcp-cloud/providers.tf
  terraform/hcp-cloud/templates/vault-policy.hcl
  terraform/hcp-cloud/terraform.tf
  terraform/hcp-cloud/variables.tf
Labels: L: terraform, L: docs

Added hcp-cloud component to stacks
  .terraform.lock.hcl
  components.tfstack.hcl
  deployments.tfdeploy.hcl
  providers.tfstack.hcl
  variables.tfstack.hcl
Labels: none

Removed vault provider
  providers.tfstack.hcl
Labels: none

Updates variables to ephemeral
  variables.tfstack.hcl
Labels: none

Updated ephemeral = true in hcp-cloud component
  terraform/hcp-cloud/variables.tf
Labels: L: terraform

revert changes
  terraform/hcp-cloud/variables.tf
  variables.tfstack.hcl
Labels: L: terraform

Revert changes
  components.tfstack.hcl
  variables.tfstack.hcl
Labels: none

More reverts
  components.tfstack.hcl
  deployments.tfdeploy.hcl
Labels: none

Fixed peer_vpc_id
  components.tfstack.hcl
Labels: none

disable hcp-cloud component
  components.tfstack.hcl
Labels: none

disable hcp provider
  providers.tfstack.hcl
Labels: none

Updated tfc stack name
  terraform/bootstrap/stacks/variables.tf
Labels: L: terraform

Added hcp provider
  providers.tfstack.hcl
Labels: none

Added hcp-cloud component
  components.tfstack.hcl
Labels: none

Added stack outputs
  outputs.tfstack.hcl
Labels: none

Store boundary username and password in vault secrets
  terraform/hcp-cloud/main.tf
Labels: L: terraform

Added description
  terraform/hcp-cloud/main.tf
Labels: L: terraform

Added vault provider
  providers.tfstack.hcl
Labels: none

Added public access to the vault
  providers.tfstack.hcl
  terraform/hcp-cloud/main.tf
  terraform/hcp-cloud/variables.tf
Labels: L: terraform

Added vault component to stacks
  components.tfstack.hcl
  terraform/vault/.terraform.lock.hcl
  terraform/vault/datas.tf
  terraform/vault/locals.tf
  terraform/vault/main.tf
  terraform/vault/providers.tf
  terraform/vault/variables.tf
Labels: L: terraform

Added public vault endpoint output
  providers.tfstack.hcl
  terraform/hcp-cloud/outputs.tf
Labels: L: terraform

Added missing providers
  components.tfstack.hcl
  providers.tfstack.hcl
Labels: none

Updated lock file
  .terraform.lock.hcl
Labels: none

Removed outputs and terraform files
  terraform/vault/outputs.tf
  terraform/vault/terraform.tf
Labels: L: terraform

filex files path
  terraform/vault/main.tf
Labels: L: terraform

Used module path
  terraform/vault/main.tf
Labels: L: terraform

Added policy for tfc-agent
  terraform/bootstrap/stacks/datas.tf
Labels: L: terraform

Added tfc-agent component
  terraform/tfc-agent/README.md
  terraform/tfc-agent/datas.tf
  terraform/tfc-agent/locals.tf
  terraform/tfc-agent/main.tf
  terraform/tfc-agent/outputs.tf
  terraform/tfc-agent/providers.tf
  terraform/tfc-agent/variables.tf
Labels: L: terraform, L: docs

Disable previous components
  components.tfstack.hcl
  providers.tfstack.hcl
Labels: none

Disable providers
  outputs.tfstack.hcl
  providers.tfstack.hcl
Labels: none

Updated lock file
  .terraform.lock.hcl
Labels: none

Removed lock file from tfc-agent component
  terraform/tfc-agent/.terraform.lock.hcl
  terraform/tfc-agent/terraform.tf
Labels: L: terraform
